stages:
  - build
  - test

build-job:
  stage: build
  image: gcc:latest
  before_script:
    - apt-get update && apt-get install -y cmake g++
  script:
    - mkdir build
    - cd build
    - cmake ..
    - make
  artifacts:
    paths:
      - build

test-job:
  stage: test
  image: gcc:latest
  script:
    - cd build
    - ctest --output-on-failure
  needs:
    - build-job
