image: ubuntu:24.04

stages:
  - build

before_script:
  - apt-get update -y
  - DEBIAN_FRONTEND=noninteractive apt-get install -y build-essential cmake

build:
  stage: build
  script:
    - cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
    - cmake --build build -- -j$(nproc)
  artifacts:
    paths:
      - build/yahtzee
    expire_in: 1 week